* {
    list-style-type: none;
    color: black;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    display: flex;
}

header {
    background-color: black;
    max-width: 100%;
    padding: 0 5%;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

nav ul {
	display: inline-flex;
}

nav ul li {
    margin-top: 13px;
}

 header nav ul li a {
	margin: 30px;
	color: white;
	font-size: 20px;
	font-weight: 700;
    padding: 30px 10px;
}

main section {
    display: flex;
    justify-content: center;
}

section.light {
    border-bottom: #dddddd solid 1px;
}

main button {
    background-color: white;
    width: 180px;
    height: 60px;
}

main button a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 200;
}

img {
    padding-top: 20px;
}

main section * {
    
}

main ul {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

main ul li {
    width: 30%;
    background-color: gray;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #f5f5f5;
    color: #757575;
    max-width: 100%;
    padding: 0 5%;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div {
    justify-content: space-between;
    display: flex;
    width: 1040px;
}

footer a {
    color: gray;
}

footer nav ul li a {
	margin: 10px;
    padding: 30px 10px;
}

.header-container {
    max-width: 1040px;
    height: 92px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex: 1;
    
}

.logo {
    color: white;
    height: 92px;
    padding-top: 25px;
    font-size: 25px;
    font-weight: bold;
    flex-shrink: 0;
}

.lastlink {
    padding-right: 0;
    margin-right: 0;
}

.main {
    max-width: 100%;
}

.text-img {
    justify-content: space-between;
    display: flex;
    width: 1040px;
}

.text1 {
    margin-top: 150px;
    box-sizing: content-box;
}

.texts {
    padding: 0;
    width: 50%;
}

.text1 {
    font-weight: 900;
    color: gray;
}

.title1 {
    font-size: 60px;
    font-weight: bold;
}

.text2 {
    font-size: 35px;
}

.button1 {
    margin-right: 0;
}

.button2 {
    margin-left: 0;
}

.end-section {
    background-color: #fafafa;
    display: flex;
}

.end-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1040px;
    padding: 96px 0px; 
}

.div-container {
    margin-bottom: 42px;
}

.footer-container {
    max-width: 1040px;
    height: 92px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex: 1;
}